<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:psc="http://podlove.org/simple-chapters" version="2.0">
    <channel>
        <title><%= @podcast.title %></title>
        <link><%= @podcast.website %></link>
        <atom:link rel="self" href="<%= @podcast.feed_url(@format) %>" type="application/rss+xml" title="<%= @format.file_ext.upcase %> Audio"/>
        <% @podcast.other_formats(@format).each do |format| %>
        <atom:link rel="alternate" href="<%= @podcast.feed_url(format) %>" type="application/rss+xml" title="<%= format.file_ext.upcase %> Audio"/>
        <% end %>
        <language><%= @podcast.language %></language>
        <generator>gst-kitchen</generator>
        <copyright><%= @podcast.author %>, cc-by-nc-sa</copyright>
        <itunes:subtitle><%= @podcast.subtitle %></itunes:subtitle>
        <itunes:author><%= @podcast.author %></itunes:author>
        <managingEditor><%= @podcast.email %> (<%= @podcast.author %>)</managingEditor>
        <itunes:summary><%= @podcast.summary %></itunes:summary>
        <itunes:explicit><%= @podcast.explicit ? "yes" : "no" %></itunes:explicit>
        <description><%= @podcast.summary %></description>
        <itunes:owner>
            <itunes:name><%= @podcast.author %></itunes:name>
            <itunes:email><%= @podcast.email %></itunes:email>
        </itunes:owner>

        <itunes:image href="<%= @podcast.cover_url %>"/>

        <itunes:category text="Technology"/>
        <itunes:category text="Technology">
            <itunes:category text="Gadgets"/>
        </itunes:category>
        <itunes:category text="Technology">
            <itunes:category text="Tech News"/>
        </itunes:category>

        <% @podcast.episodes.each do |episode| %>
        <item>
          <title><%= episode.title %></title>
          <itunes:explicit><%= @podcast.explicit ? "yes" : "no" %></itunes:explicit>
          <itunes:author><%= @podcast.author %></itunes:author>
          <itunes:subtitle><%= episode.title %></itunes:subtitle>
          <enclosure url="<%= @podcast.episode_media_url(episode, @format) %>" length="<%= episode.media[@format.format]["size"] %>" type="<%= @format.mime_type %>"/>
          <guid isPermaLink="false"><%= episode.handle %></guid>
          <pubDate><%= episode.rfc_2822_date %></pubDate>
          <itunes:duration><%= episode.duration %></itunes:duration>
          <itunes:summary><![CDATA[<%= episode.summary %>]]></itunes:summary>
          <description><![CDATA[<%= render_as_markdown episode.summary %>]]></description>
          <atom:link rel="http://podlove.org/deep-link" href="<%= @podcast.deep_link_url(episode) %>" />

          <% unless episode.chapters.nil? %>
          <psc:chapters>
          <% episode.chapters.each do |chapter| %>
            <psc:chapter start="<%= chapter.start %>" title="<%= CGI.escape_html chapter.title %>" />
          <% end %>
          </psc:chapters>
          <% end %>
        </item>
        <% end %>
    </channel>
</rss>
